.main-button {
  @extend %h4;
  position: relative;
  min-width: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $light;
  border: none;
  border-radius: 12px;
  padding: 18px 30px;
  background-color: $light-blue--300;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  transition-property: background-color, transform;
  transition-duration: $animation-duration;
  transition-timing-function: ease-out;
  user-select: none;

  &::before {
    content: '';
    @extend .preloader;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $light-blue--400;
    }
  }

  &:active {
    background-color: $light-blue--500;
    transform: translateY(3px);
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }

  &--response {
    box-shadow: none;
    background-color: $grey--300;
    color: $dark-blue--500;

    &:hover {
      background-color: $grey--500;
    }

    &:active {
      background-color: $grey--300;
    }
  }

  &--loader {
    color: transparent;
    box-shadow: none;
    background-color: $grey--300;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}
