.main-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__title {
    @extend %h1, %h1--gradient;
  }

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__textarea {
    min-height: 130px;
    resize: none;
  }

  &__group-title {
    @extend %h3--caps;
    color: $grey--500;
  }
}
