.main-link {
  font-size: 16px;
  line-height: 1.25;
  color: $light-blue--300;
  transition: color $animation-duration ease;

  @media (hover: hover) {
    &:hover {
      color: $accent;
    }
  }

  &--light {
    color: $light;
  }
}
