.preloader {
  display: block;
  width: 26px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid $light-blue--300;
  border-right-color: transparent;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  100% {
     rotate: 360deg;
  }
}
