.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;

  &__btn {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 16px;
    aspect-ratio: 1;
    background-color: $light-blue--100;
    transition: background-color $animation-duration ease-in-out;

    &--active {
      background-color: $light-blue--300;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $light-blue--300;
      }
    }

    &--non-active {
      @media (width >= 768px) {
        display: none;
      }
    }
  }
}
