.service-entry {
  position: relative;

  &__block {
    color: $light;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__block-top {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    text-align: center;
  }

  &__block-image {
    width: 92px;
    aspect-ratio: 1;
    background-color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    align-self: center;
  }

  &__block-title {
    @extend %h1, %h1--gradient;
  }

  &__block-text {
    font-size: 19px;
    line-height: 1.5789;
  }

  &__block-button {
    max-width: 208px;
    align-self: center;
  }

  &__block-bottom {
    padding-top: 30px;
    border-top: 4px solid rgba($light, 0.5);
  }

  &__block-subtitle {
    @extend %h3;
    padding-bottom: 15px;
  }

  &__block-list {
    @extend %ul;

    @media (width >= 768px) {
      column-count: 2;
      display: block;
      column-gap: 60px;
    }
  }

  &__block-list-item {
    display: flex;
    column-gap: 8px;
    padding-top: 15px;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--list-marker-color, $accent);
      margin-top: 12px;
    }
  }
}
