.teams {
  $root: &;
  padding-bottom: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__title {
    @extend %h1, %h1--gradient;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @media (width >= 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }

    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card-item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @media (hover: hover) {
      &:hover {
        #{$root} {
          &__card-item-name {
            color: $accent;
          }

          &__card-item-link {
            color: $accent;
            background-color: $grey--300;
          }
        }
      }
    }
  }

  &__card-item-image {
    display: block;
    border-radius: 12px;
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @media (width >= 768px) {
      height: 400px;
    }
  }

  &__card-item-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 15px;
  }

  &__card-item-content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__card-item-name {
    @extend %h4;
    color: $dark-blue--500;
    transition: color $animation-duration ease-in-out;
  }

  &__card-item-job {
    @extend %p--small;
    color: $grey--500;
  }

  &__card-item-link {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey--200;
    color: $light-blue--300;
    transition-property: background-color, color;
    transition-duration: $animation-duration;
    transition-timing-function: ease-in-out;
  }
}
