html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  background-color: $light;
  line-height: 1.2;

  ::selection {
    background: rgba($accent, 0.4);
  }
}

.svg-settings {
  @extend %visually-hidden;
}

.container {
  padding-inline: 30px;
  margin-inline: auto;

  @media (width >= 768px) {
    padding-inline: 60px;
  }

  @media (width >= 1024px) {
    max-width: 1024px;
  }

  @media (width >= 1440px) {
    max-width: 1440px;
  }

  @media (width >= 1920px) {
    max-width: 1720px;
  }
}
