.header {
  margin-bottom: 30px;

  @media (width >= 768px) {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 50px 60px 0;
    margin-bottom: 60px;
  }

  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 16px 20px;
    align-items: center;
  }

  @media (width >= 1920px) {
    max-width: 1720px;
    margin-inline: auto;
  }

  &--absolute {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    margin-bottom: 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($grey--200, $alpha: 0.2);
    padding: 10px 15px;
    margin-bottom: 15px;

    &--dark {
      background-color: $grey--200;
    }

    @media (width >= 768px) {
      justify-content: flex-start;
      column-gap: 6px;
      background-color: transparent;
      padding: 0;
      margin-bottom: 0;
    }

    @media (width >= 1024px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: end;
    }
  }

  &__lang {
    display: flex;
  }

  &__lang-btn {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    padding: 5px 7px;
    color: $light;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color $animation-duration ease-in-out;

    @media (hover: hover) {
      &:hover {
        background-color: rgba($light, 0.2);
      }
    }

    &--dark {
      color: $grey--500;
      @media (hover: hover) {
        &:hover {
          background-color: $grey--200;
        }
      }
    }

    &--active {
      color: $light;
      pointer-events: none;
      background-color: $accent;
    }
  }

  &__list {
    @extend %ul;
    --list-marker-color: #{$grey--400};
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  &__list-item {
    display: none;

    @media (width >= 768px) {
      display: flex;
      align-items: center;
      column-gap: 6px;
    }

    &--color {
      color: $grey--500;
    }
  }

  &__list-link {
    font-size: 16px;
    color: $light;
    font-weight: 700;
    transition: color $animation-duration ease;

    @media (hover: hover) {
      &:hover {
        color: $accent;
      }
    }

    &--dark {
      color: $grey--500;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;

    @media (width >= 768px) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 30px;
      padding-inline: 0;
    }

    @media (width >= 1024px) {
      display: contents;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 4px;

    @media (width >=768px) {
      align-items: flex-start;
    }

    @media (width >= 1024px) {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  &__logo-image {
    width: 70px;
    height: 32px;

    @media (width >= 768px) {
      width: 130px;
      height: 60px;
    }
  }

  &__logo-icon {
    width: 12px;
    height: 26px;

    @media (width >= 768px) {
      width: 21px;
      height: 47px;
    }

    &--hidden {
      @media (width >= 768px) {
        display: none;
      }
    }
  }

  &__logo-text {
    font-size: 20px;
    font-weight: 400;
    color: $light;

    @media (width >= 768px) {
      font-size: 36px;
    }

    &--dark {
      color: $dark-blue--500;
    }

    &--hidden {
      @media (width >= 768px) {
        display: none;
      }
    }
  }

  &__nav {
    display: none;

    @media (width >= 768px) {
      display: flex;
      column-gap: 15px;
    }

    @media (width >= 1024px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-self: end;
    }

    &.active {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      text-align: center;
      background-color: $light;
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      margin-inline: 8px;
      padding: 64px 12px 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      z-index: 10;

      .header__nav-link {
        font-size: 24px;
        font-weight: 700;
        background-color: $grey--200;
        color: $light-blue--300;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 12px;

        @media (hover: hover) {
          &:hover {
            border-color: transparent;
            background-color: $grey--400;
          }
        }
      }

      .header__nav-close-btn {
        display: flex;
        position: absolute;
        top: 12px;
        right: 12px;
      }
      .header__nav-link--active {
        color: $accent;
        border: none;
      }
    }
  }

  &__nav-link {
    font-size: 16px;
    font-weight: 700;
    color: $light;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    transition-property: border-color;
    transition-duration: $animation-duration;
    transition-timing-function: ease;

    @media (hover: hover) {
      &:hover {
        border-color: $light;
      }
    }

    &--dark {
      color: $light-blue--300;

      @media (hover: hover) {
        &:hover {
          border-color: $light-blue--300;
        }
      }
    }

    &--active {
      color: $accent;
      border-color: $accent;
      pointer-events: none;
    }
  }

  &__nav-close-btn {
    display: none;
  }
}
