.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
  flex-wrap: wrap;
  border-radius: 12px;
  background-color: $grey--400;
  padding: 2px;
  gap: 2px;

  &__item {
    @extend %h4;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: $dark-blue--500;
    cursor: pointer;
    padding: 9px 30px;
    transition: background-color $animation-duration ease-in-out;

    &--active {
      background-color: $light;
      pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $grey--200;
      }
    }
  }
}
