<footer class="footer {{footerClass}}">
  <div class="container">
    <div class="footer__container">
      <div class="footer__content">
        <div class="footer__top">
          <ul class="footer__list">
            <li class="footer__list-item">
              <span class="footer__list-text"
                >Kyiv, Mechnikova str, 14/1</span
              >
            </li>
            <li class="footer__list-item">
              <a href="#!" class="footer__list-link footer__list-link--caps"
                >On map</a
              >
            </li>
          </ul>
          <p class="footer__copyright">© 2021 HLEGAL Law company, LLC</p>
        </div>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">
              <svg class="icon icon--38">
                <use href="#facebook" />
              </svg>
            </a>
          </li>
          <li class="footer__list-item">
            <a
              href="tel:0800211927"
              class="footer__list-link footer__list-link--color"
              >0800 211 927</a
            >
          </li>
          <li class="footer__list-item">
            <a
              href="mailto:contact@forstudy.space"
              class="footer__list-link"
              >contact@forstudy.space</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
